.home-page-test {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    background-color: #f3f3f3;
    height: 100vh;
    border-radius: 25px;
    padding: 20px 20px;
}

.home-page-test p {

    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    color: tomato;
}

.home-page-test p:hover {
    color: black;
    cursor: pointer;
}

@media (max-width:750px) {
    .home-page-test {
        flex-direction: column;
    }
}